doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Errore
    body 
        if code === 404
            h1 Page Not Found 
        else 
            h1 Utente non trovato
        br
        br
        br
        a(href="/") Pagina principale
